<?xml version="1.0" ?>
<!--
/**
 * @category Fei
 * @package Fei_Test
 * @author Fei Chen chenfei@hotmail.co.uk
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fei_Test" setup_version="0.1.0">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
